/* flexlayout styles for header  */
.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ToolBar color */
.mat-toolbar.mat-primary {
  background-color: black;
}

/* tool bar margin */
mat-toolbar {
  margin-top: 10px!important;
}

/* Toolbar Padding */
.mat-toolbar-row {
  padding-left: 10px;
}

/* Logo width and height */
img {
  max-width: 100%;
  height: auto;
}

/* spacing for header elements */
.menu-spacer {
  flex: 1 1 auto;
}

/* Logo image styles */
#brand-logo {
  width: 39px;
  height: 39px;
  max-width: 39px;
  max-height: 39px;
  background-color: black;
  outline: none;
  vertical-align: middle;
  margin-left: 15px;
}

/* Brand Name Styles */
#brand-name {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 1.8rem;
  vertical-align: middle;
}

/* brandname Anchor tag style */
#brand-name a {
  text-decoration: none;
  color: #f3f7eb;
}

/* Specifed Search bar form styles */
.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background-color: black;
}

.mat-button.mat-icon-button {
  outline: none;
}

form {
  height: 100px;
  vertical-align: middle;
  color: #f3f7eb;
  margin-right: 15px;
}

/* mat form Field style */
.mat-form-field {
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 0px;
  font-weight: 550;
}

/* input field style */
.mat-form-field input {
  padding-left: 5px;
  display: inline;
  color: #f3f7eb;
}


/* Specified Clear button Outline none */
.mat-button.mat-icon-button {
  outline: none;
}

/* clear button radius 0 */
.mat-button {
  border-radius: 0;
}

/* media query for small devices */
@media (max-width: 375px) {
  .mat-form-field {
    font-size: .8em;
  }
  .mat-card {
    padding: 5px 10px;
  }
  #brand-name {
    font-size: 1.2rem;
  }
  #brand-logo {
    width: 32px;
    height: 32px;
  }
}

/* media query for 375 px - 479px devices */
@media (min-width: 375px) and (max-width: 479px) {
  .mat-form-field {
    width: 190px;
  }
  #brand-name {
    font-size: 1.2rem;
  }
  #brand-logo {
    width: 32px;
    height: 32px;
  }
}
/* for small devices 320px */
@media (min-width: 320px) and (max-width:374px) {
  .mat-form-field {
    width: 140px;
  }
}
