img {
  max-width: 100%;
  height: auto;
}

mat-toolbar {
  margin-top: 10px!important;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-spacer {
  flex: 1 1 auto;
}

#brand-logo {
  width: 39px;
  height: 39px;
  max-width: 39px;
  max-height: 39px;
  background-color: black;
  outline: none;
  vertical-align: middle;
  margin-left: 15px;
}

#brand-name {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 1.8rem;
  vertical-align: middle;
}

#brand-name a {
  text-decoration: none;
  color: #f3f7eb;
}

.mat-toolbar.mat-primary {
  background-color: black;
}

.mat-button.mat-icon-button {
  outline: none;
}

form {
  height: 100px;
  vertical-align: middle;
  color: #f3f7eb;
}

.mat-toolbar-row {
  padding-left: 10px;
}

.mat-form-field {
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 0px;
  font-weight: 550;
}

.mat-form-field input {
  padding-left: 5px;
  display: inline;
  color: #f3f7eb;
}

.mat-button {
  border-radius: 0;
}

@media (max-width: 320px) {
  .mat-form-field {
    width: 140px;
  }
  #brand-name {
    font-size: 1.2rem;
  }
  #brand-logo {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 321px) and (max-width: 479px) {
  .mat-form-field {
    width: 180px;
  }
  #brand-name {
    font-size: 1.2rem;
  }
  #brand-logo {
    width: 32px;
    height: 32px;
  }
}
