/* Outer Div style */
#page-err {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top:15px;
  line-height: 50px;
}

/* Error info styles */
p{
  color: #ccc !important;
  padding-top: 15px;
  padding-left: 5px;
  font-size:2rem;
}

/* a tag styles */
a{
  color: #ccc !important;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.2rem;
  text-decoration: none;
}

/* on hover style of anchor tag */
a:hover{
  outline: ridge;
  padding-bottom: 10px;
}
