#page-err {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

h1{

  color: #ccc !important;
  padding-top:15px;
  padding-left: 5px;
  font-size:2rem;

}
p{
  color: #ccc !important;
  padding-top: 15px;
  padding-left: 5px;
  font-size:1.2rem;
}

a{
  color: #ccc !important;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.2rem;
  text-decoration: none;


}

a:hover{
  outline: ridge;
  padding-bottom: 10px;
}




