/* Show Name Styles */
.show-title {
  color: #ffffff;
  margin: 10px 45px;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 20px;
}

.menu-items {
  width: 100%;
  margin: 10px 45px;
  height: 30px;
  font-size: 1.1em;
  font-weight: 450;
}

.menu-items > .nav-a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

.menu-items > .nav-a:hover,
.menu-items > .nav-a:active,
.active {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

/* mat-buttons a blue highlight frame appears */
.mat-toolbar.mat-primary {
  background-color: black;

}
@media (max-width: 375px) {
  .show-title {
    margin: 10px 20px 0;
    padding: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .menu-items {
    height: 30px;
    font-size: 0.8em;
    font-weight: 490;
    margin: 0;
  }
  .menu-items > a {
    line-height: 1em;
  }

}
