.show-title {
  color: #ffffff;
  margin-top: 10px;
  padding-top: 10px;;
  margin-left:50px;
  font-weight: 600;
  font-size: 2em;
  margin-right: -5px;
}

.show-name {
  padding-bottom: 10px;
}

.mat-toolbar{
  margin-top: 10px;
  height:54px!important;
  border-radius: 2px!important;
}

 .mat-button {
   color: white !important;
   text-decoration: none;
   /* margin-left: 5px!important; */
 }
 #show_info{
  margin-left:15px;
 }

 .mat-button:hover,  .mat-button:active {
   outline: white !important;
   outline-style: ridge!important;
 }

/* mat-buttons a blue highlight frame appears */

.mat-toolbar.mat-primary {
  background-color: black;
  font-size: 1em;
}
