 .mat-button {
   color: white !important;
   text-decoration: none;
   margin-left: 25px;
 }

 .mat-button:hover {
   outline: white !important;
   outline-style: ridge!important;
 }

 /* mat-buttons a blue highlight frame appears */

 .mat-toolbar.mat-primary {
   background-color: black;
   font-size: 1em;
   /* line-height: 1em; */
   padding: 1px 1px 1px 1px;
   margin: 1px 1px 1px 1px;
 }
