.mat-card {
  background-color: #000;
}
.mat-card > .mat-card-title,
.mat-card > .mat-card-subtitle{
  color: #FFF;
}

.cast-info-container {
  padding: 0 40px;
}

.mat-progress-bar {
  width: calc(100% - 90px);
  margin: 0 45px;
}

@media (max-width: 375px) {
  .cast-info-container {
    padding: 0 15px;
  }
  .mat-progress-bar {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .mat-card-title,
  .mat-card-subtitle {
    font-size: 0.7em;
    line-height: 1em;
  }
}
