.cast-cards {
  clear: both;
}

.single-cast {
  float: left;
  width: 100%;
}

@media (min-width: 426px) and (max-width: 767px) {
  .single-cast {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-cast {
    width: 33%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .single-cast {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .single-cast {
    width: 16.6%;
  }
}
