<router-outlet></router-outlet>
<div *ngIf="listOfCast" class="cast-cards">
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row wrap">
      <!-- loop over the cardList and show the cards -->
      <div
        *ngFor="let cast of listOfCast"
        class="single-cast"
        fxFlex="25"
        fxFlex.md="33"
        fxFlex.sm="50"
        fxFlex.xs="100"
        fxLayout="column"
        style="padding: 5px;"
      >
        <!-- cards here -->
        <mat-card>
          <img mat-card-image [src]="cast.castImg" alt="Photo of a cast" />
          <mat-card-title>{{ cast.castName }}</mat-card-title>
          <mat-card-subtitle>as {{ cast.characterName }}</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>
