/********** Base styles **********/
* {
  box-sizing: border-box;
}

.showinfo {
  background-color: grey;
  height: 130px;
  padding: 10px;
  font-size: .9em;
}

.info {
  padding-bottom: 20px;
}

.showlist {
  height: 130px;
}

span {
  margin: 5px;
}

h2 {margin-left: 5px;
    margin-bottom: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  font-family: Helvetica;
  color: black;
}

.row {
  margin: 1%;
  float: left;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  }
  .col-lg-1 {
    width: 6.33%;
  }
  .col-lg-2 {
    width: 14.66%;
  }
  .col-lg-3 {
    width: 23%;
  }
  .col-lg-4 {
    width: 31.33%;
  }
  .col-lg-5 {
    width: 39.66%;
  }
  .col-lg-6 {
    width: 48%;
  }
  .col-lg-7 {
    width: 56.33%;
  }
  .col-lg-8 {
    width: 64.66%;
  }
  .col-lg-9 {
    width: 72.99%;
  }
  .col-lg-10 {
    width: 81.33%;
  }
  .col-lg-11 {
    width: 89.66%;
  }
  .col-lg-12 {
    width: 98%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  }
  .col-md-1 {
    width: 6.33%;
  }
  .col-md-2 {
    width: 14.66%;
  }
  .col-md-3 {
    width: 23%;
  }
  .col-md-4 {
    width: 31.33%;
  }
  .col-md-5 {
    width: 39.66%;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-7 {
    width: 56.33%;
  }
  .col-md-8 {
    width: 64.66%;
  }
  .col-md-9 {
    width: 72.99%;
  }
  .col-md-10 {
    width: 81.33%;
  }
  .col-md-11 {
    width: 89.66%;
  }
  .col-md-12 {
    width: 98%;
  }
}


/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  }
  .col-sm-1 {
    width: 6.33%;
  }
  .col-sm-2 {
    width: 14.66%;
  }
  .col-sm-3 {
    width: 23%;
  }
  .col-sm-4 {
    width: 31.33%;
  }
  .col-sm-5 {
    width: 39.66%;
  }
  .col-sm-6 {
    width: 48%;
  }
  .col-sm-7 {
    width: 56.33%;
  }
  .col-sm-8 {
    width: 64.66%;
  }
  .col-sm-9 {
    width: 72.99%;
  }
  .col-sm-10 {
    width: 81.33%;
  }
  .col-sm-11 {
    width: 89.66%;
  }
  .col-sm-12 {
    width: 98%;
  }
}
