<div class='container'>
  <router-outlet></router-outlet>
  <div *ngIf="show">&nbsp;
  <h2>{{show.name}}</h2>
  <div class="showlist">
    <div class="col-lg-2 col-md-2 col-sm-2 row"><img [src]='show.image' class="img-responsive" style="width: 80%"
        alt="Show Image" /></div>

    <div class="col-lg-6 col-md-6 col-sm-6 row">{{show.description}}</div>

    <div class="col-lg-4 col-md-4 col-sm-4 row showinfo">
      <span class="info">Genre: {{show.genre}}<br></span>
      <span>Network: {{show.network}}<br></span>
      <span>Country: {{show.country}}<br></span>
      <span>Runtime: {{show.runtime}}<br></span>
      <span>Language: {{show.language}}</span>
    </div>


  </div>
</div>
</div>
