<app-menu></app-menu>
<div *ngIf="!isLoading; else loadingSpinner"></div>
<div *ngIf='show' class="container" >

     <mat-card id="card-info">
    <mat-card-header>
      <!-- <mat-card-title id="show-title">
        {{show.name}}
      </mat-card-title> -->
      <mat-card-subtitle>
        {{show.genre}}
      </mat-card-subtitle>
    </mat-card-header>


    <div class = "showlist">

    <div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12 row">
        <img [src]='show.image' class= "img-responsive" style="width: 100%" />
        <img src="../../assets/images/no-img.png" *ngIf="!show.image" />
      </div>

    <div class = "description col-lg-6 col-md-6 col-sm-8 col-xs-6 col-xs-12 row">
      <mat-card>
        <p>{{show.description | slice:0:250}}{{ show.description?.length > 250 ? '...' : ''}}</p>
        <p *ngIf="!show.description">We don't have a summary for {{show.name}} yet. Hang in there, or go ahead and contribute one. </p>
      </mat-card>
    </div>

    <div class = "col-lg-3 col-md-3 col-sm-12 row col-xs-12 showinfo">
        <div><span>Network:</span> {{show.network}}</div>
        <div><span>Country:</span> {{show.country}}</div>
        <div><span>Runtime:</span> {{show.runtime}}</div>
        <div><span>Language:</span> {{show.language}}</div>
    </div>

  </div>

</mat-card>

</div>

<ng-template #loadingSpinner>
  <mat-progress-bar mode="indeterminate" aria-label="The page is loading"></mat-progress-bar>
</ng-template>

