.container {
  display: flex;
  flex-wrap: wrap;
}
 .card-picture {
   padding: 10px 10px;
 }
 .mat-card {
   background-color: white;
   padding:16px 16px 0px 16px;
 }
.mat-card-image{
  border-radius:4px;
}
a:hover{
  outline-style:  ridge!important;
  outline: #ccc;
  cursor: pointer;
  box-shadow: 0 0 3px 0 #ddd;
}
::ng-deep.tooltip-black {
  background: black;
  margin: 0;
  font-weight: 500;
  padding:0;
 color: white;
}
