<header>
  <nav id="header-nav" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

      <a href="#" id="brand-name" class="navbar-brand">My TV Show</a>
      <div class="input-group col-md-8">
        <input class="form-control py-2 border-right-0  border" type="search" placeholder="Search Shows" id="searchTerm">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border" type="button" alt="Search">
            <i class="fa fa-search fa-lg"></i>
          </button>
        </span>
      </div>
    </div>

  </nav>

</header>

<!-- <app-seasons-list-component></app-seasons-list-component> -->
<app-show-episodes-list></app-show-episodes-list>
