<header class="mat-elevation-z8" id="app-header">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between stretch" class="mat-toolbar app-toolbar" color="primary">
    <mat-toolbar-row id="header-row">
      <mat-icon aria-hidden="false" aria-label="home icon" id="brand-icon">airplay</mat-icon>
      <span id="brand-name">My TV Show</span>
      <div class="search-container">
        <form>
          <mat-form-field class="mat-headline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" placeholder="Search" [formControl]="searchField" name='searchField'>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()"
              *ngIf="searchField?.value">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<br />

<section>
  <div>
    <mat-toolbar color='primary'>
      <!-- <a [routerLink]="'/show-info'">Main</a>
      <a [routerLink]="'/episode-info'">Episodes</a>
      <a [routerLink]="'/cast-info'">Cast</a> -->

      <button mat-flat-button color="primary" [routerLink]="'/show-info'">
        Main
      </button>
      <button mat-flat-button color="primary" [routerLink]="'/episode-info'">
        Episodes
      </button>
      <button mat-flat-button color="primary" [routerLink]="'/cast-info'">
        Cast
      </button>
    </mat-toolbar>
  </div>
</section>
<div id="main-content">
  <router-outlet></router-outlet>
</div>

<br />
<div>
  <footer class="main_footer">
    <mat-toolbar class="container" fxLayout="column" fxLayoutAlign="space-between stretch" color="primary">
      <div class="copyright" fxFlexAlign="center">
        <small> Copyright &copy; 2020 <span>TV Shows</span></small>
      </div>
    </mat-toolbar>
  </footer>
</div>
