.fill-remaining-space {
  flex: 1 1 auto;
}
/* Main Container set to relative */
#page-container{
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* Footer styles and position */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem; /* Footer height */
}

/* Footer Toolbar color */
.mat-toolbar.mat-primary{
  background-color:#000;
}

/* Footer Toolbat height */
.mat-toolbar{
  height:44px!important;
  border-radius: 2px!important;
}
