
.fill-remaining-space {
  flex: 1 1 auto;
}



 .mat-flat-button {
  color: white !important;
  text-decoration: none;
  margin-left: 25px;
  border: none;
}
/* mat-buttons a blue highlight frame appears */
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
  }


