<div class="container mainPage">
  <br />
  <div class="search-cards" *ngIf="!isLoading; else loadingSpinner">
    <div class="section-title">High Rated</div>
    <div class="content">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let shows of _showRating"
          class="slide carousel-item"
        >
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%" />
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <br />
  <div>
    <div class="section-title">Comedy</div>
    <div class="content">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let shows of _showComedy"
          class="slide carousel-item"
        >
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%" />
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <br />
  <div>
    <div class="section-title">Science Fiction</div>
    <div class="content">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let shows of _showScienceFiction"
          class="slide carousel-item"
        >
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%" />
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <br />
  <div>
    <div class="section-title">Drama</div>
    <div class="content">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let shows of _showDrama"
          class="slide carousel-item"
        >
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%" />
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <mat-progress-bar
    mode="indeterminate"
    aria-label="The page is loading"
  ></mat-progress-bar>
</ng-template>
