<!-- <app-header-component></app-header-component> -->
<div class="container mainPage">
  <div>
    <br>
    <div class="section-title">High Rated</div>
    <div class="content">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let shows of _showRating" class="slide">
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%">
          </a>
        </div>
      </ngx-slick-carousel>
    </div>

  </div>
  <br>
  <div>
    <div class="section-title">Comedy</div>
    <div class="content">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let shows of _showComedy" class="slide">
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <div class="showImage"><img [src]="shows.image" alt="" width="100%"></div>
          </a>
        </div>
      </ngx-slick-carousel>

    </div>

  </div>
  <br>
  <div>
    <div class="section-title">ScienceFiction</div>
    <div class="content">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let shows of _showScienceFiction" class="slide">
          <a (click)="callShowInfo(shows.showId, shows.showName)">
            <img [src]="shows.image" alt="" width="100%">
          </a>
        </div>
      </ngx-slick-carousel>
    </div>

  </div>
  <br>
  <div>
    <div class="section-title">Drama</div>
    <div class="content">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let shows of _showDrama" class="slide">
          <a (click)="callShowInfo(shows.showId, shows.showName)">
             <img [src]="shows.image" alt="" width="100%">
          </a>
        </div>
      </ngx-slick-carousel>

    </div>

  </div>
</div>
