<div class="container">

    <mat-tab-group>
        <mat-tab *ngFor="let seasonNumber of [].constructor(_episodes[_episodes.length - 1].seasonNumber); let i=index" label="{{i+1}}">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Episode Number</th>
                <th>AirDate</th>
                <th>Episode Name</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let episode of _episodes">
                  <td *ngIf="episode.seasonNumber === i+1">{{episode.episodeNumber}}</td>
                  <td *ngIf="episode.seasonNumber === i+1">{{episode.airdate | date : 'mediumDate'}}</td>
                  <td *ngIf="episode.seasonNumber === i+1">{{episode.episodeName}}</td>
              </tr>
            </tbody>
          </table>

        </mat-tab>
    </mat-tab-group>

</div>
