<div class="main-header">
  <mat-toolbar color="primary" class="mat-elevation-z16">
    <mat-toolbar-row fxLayoutGap="10px">
      <button mat-icon-button fxShow="true" >
        <img id='brand-logo' src="../../assets/images/tvt_logo.png" class="mat-elevation-z16" tabindex="0" />
      </button>
      <span id="brand-name">
        <a routerLink="" (click)="clearSearchField()">TV TIME</a>
      </span>
      <span class="menu-spacer"></span>
      <form fxShow="true">
        <mat-form-field class="mat-headline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Search" [formControl]="searchField" name='searchField'>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()"
            *ngIf="searchField?.value">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-search-shows [_shows]="_shows" *ngIf="showSearchComponent"></app-search-shows>
</div>
