.episode-container {
  width:80%;
  flex: 1 1 auto;
}

.mat-tab{
  color: white !important;
  font-size: 18px;
  font-weight: 700;

}
.mat-tab-label .mat-tab-label-content{
  color: aliceblue;
  font-weight: bold;
}
.mat-tab-label,.mat-tab-link{
  color: aliceblue;
}

div.mat-tab-label-content{color: blueviolet !important;}

mat-tab-group{
  background-color: #bbb3b3 !important;
  color: whitesmoke !important;

}


.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  /* background: url(assets/images/nav-icon.png) no-repeat scroll 0 0; */
  left: -33px;
}

.next-slide {
  /* background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px; */
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}


#myIcon:hover{
  box-shadow: 0 2px 5px 2px #cccccc;
}

/* The width of each slide */
.slick-slide {
  width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: blue;
}
