<app-menu></app-menu>
<div class='episode-container'>
  <mat-tab-group>
     <div *ngIf="_seasons?.length">
      <!-- To check _episodes has data-->
      <mat-tab class="season-tabs" *ngFor="let season of _seasons" label="S{{season.seasonNumber}}" mat-ripple>
        <ng-template matTabContent>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-light">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Episode Number</th>
                  <th>Air Date</th>
                  <th>Episode Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let episode of _episodes">
                  <td *ngIf="episode.seasonNumber === season.seasonNumber" class="text-center">{{episode.episodeNumber}}
                  </td>
                  <td *ngIf="episode.seasonNumber === season.seasonNumber">{{episode.airdate | date : 'mediumDate'}}
                  </td>
                  <td *ngIf="episode.seasonNumber === season.seasonNumber">{{episode.episodeName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </mat-tab>
    </div>
  </mat-tab-group>





</div>

<!--
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let episode of _episodes" class="slide">
    <div id='myIcon' ]><img [src]='episode.image' alt="" width="100%"></div>
  </div>
</ngx-slick-carousel> -->
