.episode-container {
  width: 85%;
  flex: 1 1 auto;
  margin-left: 15px;
}

mat-tab-group {
  /* to change the mat tab content and mat tab header */
  color: #0c0c0c!important;
  font-weight: 500 !important;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%)!important;
  outline-style: ridge!important;
  outline: #ccc!important;
}

/* to change the mat tab label color(seasons)  */

::ng-deep.mat-tab-link, ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  color: aliceblue !important;
}


.show-Name {
  color: white;
  font-size: 20px;
  margin-bottom:10px;
  margin-left: 20px;
}
