<app-menu></app-menu>
 <div class='container-fluid episode-container'>

    <br/>
    <mat-tab-group><!--animationDuration="2000ms"-->
      <div  *ngIf="_episodes?.length"> <!-- To check _episodes has data-->
    <mat-tab class="season-tabs" *ngFor="let seasonNumber of [].constructor(_episodes[_episodes.length - 1].seasonNumber); let i = index;" label="S{{i+1 | number:'2.0'}}" mat-ripple>
      <ng-template matTabContent>
      <div class="table-responsive">
      <table class="table table-striped table-hover table-light">
        <thead class="thead-light">
          <tr>
            <th class="text-center" >Episode Number</th>
            <th >Air Date</th>
            <th>Episode Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let episode of _episodes" >
            <td *ngIf="episode.seasonNumber === i+1" class="text-center">{{episode.episodeNumber}}</td>
            <td *ngIf="episode.seasonNumber === i+1">{{episode.airdate | date : 'mediumDate'}}</td>
            <td *ngIf="episode.seasonNumber === i+1">{{episode.episodeName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
    </mat-tab>
  </div>
  </mat-tab-group>
  </div>


